@mixin circle {
  width: 50px;
  height: 50px
  border-radius: 100%;
}

.box{
  @include circle;
  background: #fc0;
}

↓

.box{
  width: 50px;
  height: 50px
  border-radius: 100%;
  background: #fc0;
}

@mixin circle($size:40px) {
  width: $size;
  height: $size;
  border-radius: 100%;
}

.box {
  @include circle;
  background: #fc0;
}

.box {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #fc0;
}

@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}

@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}